In [13]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as plt
coder_df= pd.read_csv("D:/coder.csv")
coder_df.head(5)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [14]:
coder_df = coder_df[['Age','CountryCitizen','CountryLive','ExpectedEarning','Gender','Income','MoneyForLearning','MonthsProgramming','SchoolDegree']]
coder_df.head(10)

,Age,CountryCitizen,CountryLive,ExpectedEarning,Gender,Income,MoneyForLearning,MonthsProgramming,SchoolDegree
0,28.0,United States of America,United States of America,NaN,male,32000.0,0.0,1.0,"some college credit, no degree"
1,22.0,United States of America,United States of America,50000.0,male,15000.0,20.0,2.0,"some college credit, no degree"
2,19.0,United States of America,United States of America,NaN,male,48000.0,50.0,24.0,high school diploma or equivalent (GED)
3,26.0,United States of America,United States of America,65000.0,female,43000.0,100.0,3.0,bachelor's degree
4,20.0,United States of America,United States of America,45000.0,female,6000.0,1300.0,48.0,"some college credit, no degree"
5,34.0,United States of America,United States of America,NaN,male,40000.0,0.0,12.0,bachelor's degree
6,23.0,Singapore,Singapore,NaN,male,32000.0,400.0,13.0,bachelor's degree
7,35.0,India,United Kingdom,NaN,male,40000.0,0.0,NaN,master's degree (non-professional)
8,33.0,United States of America,United States of America,NaN,male,80000.0,3000.0,24.0,bachelor's degree
9,33.0,United States of America,United States of America,NaN,male,80000.0,30.0,12.0,master's degree (non-professional)

In [15]:
coder_df.describe()

,Age,ExpectedEarning,Income,MoneyForLearning,MonthsProgramming
count,13613.000000,6077.000000,7329.000000,14679.000000,15014.000000
mean,29.175421,53717.586967,44930.010506,1108.010559,24.430198
std,9.017716,30078.511957,35582.783216,4860.825612,49.426744
min,10.000000,6000.000000,6000.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN
max,86.000000,200000.000000,200000.000000,180000.000000,720.000000

In [16]:
coder_df['CountryCitizen'].value_counts()

United States of America         5976
India                            1154
United Kingdom                    542
Canada                            495
Brazil                            299
Russia                            268
Ukraine                           254
Poland                            239
Australia                         232
Germany                           208
Romania                           160
France                            151
Spain                             144
Mexico                            139
Italy                             133
Netherlands (Holland, Europe)     131
Nigeria                           121
Philippines                       119
South Africa                      103
Portugal                           95
Indonesia                          88
China                              81
Greece                             78
Argentina                          77
Malaysia                           73
Serbia                             73
Venezuela                          68
Sweden                             68
Turkey                             68
Pakistan                           68
                                 ...
Belize                              2
Cape Verde                          2
Barbados                            2
Bermuda                             2
Oman                                2
Yemen                               2
Guyana                              2
Tajikistan                          2
Kuwait                              1
Malawi                              1
Netherland Antilles                 1
Dominica                            1
Fiji                                1
Libya                               1
Grenada                             1
Hawaii                              1
Korea North                         1
Republic of Montenegro              1
Canary Islands                      1
Antigua & Barbuda                   1
Reunion                             1
Nambia                              1
Isle of Man                         1
Luxembourg                          1
Benin                               1
United Arab Emirates                1
Congo                               1
Lesotho                             1
Palestine                           1
Martinique                          1
Name: CountryCitizen, dtype: int64

In [19]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize= (8,4))
ax1 =set_xlabel('No of Coders')
ax1 =set_ylabel('Gender')
ax1 =set_title("Gender Distribution")
temp1.plot(kind='bar')

NameError: name 'set_xlabel' is not defined

In [24]:
print coder_df['Age'].mean()
print coder_df['MonthsProgramming'].mean()

29.1754205539
24.4301984814

In [25]:
print coder_df['Age'].median()
print coder_df['MonthsProgramming'].median()

27.0
9.0

In [26]:
print coder_df['Age'].var()
print coder_df['MonthsProgramming'].var()

81.3192106757
2443.00302058

In [27]:
print coder_df['Age'].std()
print coder_df['MonthsProgramming'].std()

9.01771648898
49.4267439812